Package: wisun-rcp-host
Version: 1.0.0-1
Architecture: amd64
Maintainer: Texas Instruments <support@ti.com>
Installed-Size: 871
Depends: libc6 (>= 2.42), libgcc-s1 (>= 3.3.1), libstdc++6 (>= 5.2)
Section: net
Priority: optional
Homepage: https://github.com/TexasInstruments/ti-wisunfantund
Description: TI Wi-SUN FAN RCP Host Application
 Linux Host application for TI Wi-SUN FAN Border Router, designed to connect
 to a TI device running the RCP LMAC Firmware.
